.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.menu__btn {
  position: relative;
  display: block;
  height: 40px;
  width: 40px;
  border: 3px solid white;
  border-radius: 0;
  -webkit-transition: border-radius 300ms ease;
  transition: border-radius 300ms ease;
}
.menu__btn:hover {
  border-radius: 50%;
}
.menu__btn.is-open .menu__burger {
  opacity: 0;
  -webkit-transform: translateX(45px);
  transform: translateX(45px);
}
.menu__btn.is-open .menu__exit {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.menu__burger,
.menu__burger:before,
.menu__burger:after {
  display: block;
  content: '';
  width: 18px;
  height: 3px;
  background-color: white;
  position: absolute;
}

.menu__burger {
  left: 8px;
  top: 15px;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
  transition: opacity 300ms ease, -webkit-transform 300ms ease;
  transition: opacity 300ms ease, transform 300ms ease;
  transition: opacity 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
}
.menu__burger:before {
  top: -8px;
}
.menu__burger:after {
  top: 8px;
}

.menu__exit:before,
.menu__exit:after {
  display: block;
  content: '';
  width: 22px;
  height: 3px;
  background-color: white;
  position: absolute;
}

.menu__exit {
  position: absolute;
  left: 6px;
  top: 15px;
  -webkit-transform: translateX(-45px);
  transform: translateX(-45px);
  opacity: 0;
  -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
  transition: opacity 300ms ease, -webkit-transform 300ms ease;
  transition: opacity 300ms ease, transform 300ms ease;
  transition: opacity 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
}
.menu__exit:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu__exit:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}